footer {
    margin-left: 5%;
    width: 90%;
    border-top: 1px solid orange;

}

.foot {
    border-bottom: 1px solid orange;
}

.twofoot, li {
    font-size: 20px;
    margin-bottom: 1%;
}

.foot div{
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2%;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}



